{% extends 'base.html' %} {% block body %}
<div class="container my-5 shadow" id="about">
  <h1 class="mb-4">
    <u>About: Technologies Used:</u>
  </h1>
  <p>This is a HPC-Simulator app created with the following technologies:</p>
  <ol class="list-group list-group-flush" style="list-style: disc">
    <li class="list-group-item">Html5</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">
      ReactJS - A JavaScript library for building user interfaces.
    </li>
    <li class="list-group-item">Jsx</li>
    <li class="list-group-item">React</li>
    <li class="list-group-item">Flask Framework</li>
    <li class="list-group-item">Python</li>
    <li class="list-group-item">Rest API</li>
  </ol>
</div>

{% endblock body %}