{% extends 'base.html' %} {% block body %}
<div class="container-fluid px-0">
  <img src="https://source.unsplash.com/800x200/?contact" class="d-block w-100 mx-0" alt="contact us" srcset="" />
</div>
<div class="container-fluid mx-4">
  <h1 class="text-center">Contact Us</h1>
  <form class="row g-3" action="/contact" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter your name" />
    </div>
    <div class="form-group">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Your email address" />
    </div>
    <div class="form-group">
      <label for="inputPhone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="inputPhone" placeholder="Enter Your phone number" min="0"
        oninput="this.value = Math.abs(this.value).toString().substring(0, 10);" required />
      <small id="phoneHelp" class="form-text text-muted">Please enter a 10-digit phone number.</small>
    </div>


    <div class="form-group">
      <label for="inputCity" class="form-label">Your Comments </label>
      <textarea class="form-control" id="desc" rows="4" name="desc"></textarea>
    </div>

    <div class="col-12 text-center my-2">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>

{% endblock body %}