.progress-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;  /* Adjust width as needed */
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
  
  .progress-bar {
    background-color: #f5f5f5;
    height: 0;  /* Initial height 0, updated dynamically */
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
  }
  
  .progress-text {
    color: #fff;
    text-align: center;
    line-height: 10px;
    font-size: 12px;  /* Adjust font size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .outcomes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .outcomes span {
    font-weight: bold;
  }
  
  
  