/* circuit.css */

.circuitDesign {
  width: 100%;
  padding: 3px;
  overflow: auto; /* Add overflow for scrolling if needed */
  }
  
  .circuitTable {
    width: 100%;
    border-collapse: collapse;
  }
  .circuitTable tr{
    border: 1px solid white;
  }
  
  .circuitTable th, .circuitTable td {
    /* border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
    height: 1.2cm; /* Set cell height */
    width: 1.2cm; /* Set cell width */
  }
 
  
  .circuitTable th {
    width: 20%;
  }
  
  .gateSelection {
    width: 100%;
    padding: 8px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .circuitDesign {
      width: 100%;
    }
  }
  