.center {
    text-align: center;
    justify-content: center;
}


/* Inside 2nd container */
.left-part {
    float: left;
    width: 50%;
    /* border: 2px solid black; */
    margin: 5px;
    border-radius: 23px;
    height: 100%;
    width: 60%;
    background-color: #496587;
}
.left-part .heading{
    background-color: #394e66;
    height: 8%;
}

/* Inside 2nd container */
.right-part {
    float: right;
    width: 38%;
    box-sizing: border-box;
    border-radius: 17px;
    /* border: 2px solid black; */
    height: 100%;
    margin: 5px;
    background-color: rgb(235 243 160);
}

#graphHeading{
    background-color: rgb(175, 181, 130);
}
.graph{
    height: 83%;
}

.flexbody {
    display: flex;
}

.fit {
    flex-grow: 1;
}

/* used in circuit design area */
.scroll-x {
    overflow-x: auto;
    /* Enables horizontal scrollbar when content overflows width */
    width: 300px;
    scrollbar-color: #333 #666;
    /* Customize track and thumb colors */

}

.scroll-y {
    width: 100%;
    /* Make table take full width of container */
    border-collapse: collapse;
    max-height: -webkit-fill-available;
    /* Ensure consistent borders */
    overflow-y: auto;
    /* Enable vertical scroll when content overflows */
    scrollbar-color: #333 #666;
    /* Customize track and thumb colors */

}

.mytable1 {
    display: inline;
}