
{% extends 'base.html' %}
{% block  body %}       
      <div class="container">
        <form action="/" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label"
              >Todo Title</label
            >
            <input
              type="text"
              name="title"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label"
              >Todo Description</label
            >
            <input
              type="text"
              class="form-control"
              name="desc"
             
            />
          </div>
       
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        </div>
        <div class="container my-3">
          
              {% if allTodo|length == 0 %}
              <div class="alert alert-dark" role="alert">
                No Todo Available ! Add todo in your list.
              </div>
              {% else %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">SNO</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                
              {% for todo in allTodo  %}
              <tbody>
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update </a>
                  <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                </td>
              </tr>

              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      
    </div>
    {% endblock body %}

    
