.container {
    text-align: center;
}

.right-part {
    float: right;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    height: 100%;
    margin: 5px;
    background-color: #fffae2;
}

#graphHeading {
    background-color: rgb(175, 181, 130);
    color: #272626;
    font-weight: 650;
}

.graph {
    height: 83%;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}


.graph {
    display: flex;
    justify-content: center;
    background-color: #fffae2;
}

.bar {
    width: 50px;
    background-color: #3498db;
    margin: 0 10px;
    position: relative;
}

.bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height);
    background-color: inherit;
}