.left-part {
    float: left;
    width: 23vw;
    margin: 5px;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    background-color: #fffae2;

}

.left-part .heading {
    background-color: #394e66;
    height: auto;
}