#gateHeading:hover {
    color: #ded298;
}

.gateCatalog {
    width: 24vw;
    height: 57vh;
    padding: 20px;
    background-color: #799dc1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9px;
}

.gateButton {
    width: 100%;
    margin: auto;
    background-color: #ecf0f1;
    color: #85a9bd;
    cursor: pointer;
    border-radius: 11px;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 1cm;
    width: 1cm;
}

.gateButton:hover {
    background-color: #75abcf;
}

.gateTable {
    width: 17%;
    border-collapse: collapse;
    height: calc(6 * 1cm + 7 * 14px);
    border-radius: 3px;
    overflow-y: auto;
}


.gateTable th {
    height: 1cm;
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    background-color: #3498db;
    color: white;
}

.gateTable td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    background-color: #9a9db5;
    justify-content: center;
    align-items: center;
}

.gateButton {
    width: 100%;
    margin: auto;
    background-color: #5c7586;
    color: white;
    cursor: pointer;
    border-radius: 11px;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 1cm;
    width: 1cm;
}

.gateTable td img {
    background-color: rgb(235 243 160);
    height: 1cm;
    width: 1cm;
}

.gateTable td img:hover {
    background-color: #2980b9;
    cursor: grab;
}