/* circuit.css */
#gateHeading {
  font-size: 1.5rem;
  text-shadow: 3px;
}

#circuitHeading {
  height: 10px;
}

.circuitDesign {
  width: 100%;
  padding: 1px;
  overflow: auto;
}

.circuitTable {
  width: 100%;
  border-collapse: collapse;
}

.circuitTable th {
  background-color: #3498db;

}

.circuitTable tr {
  border: 1px solid white;
}

.circuitTable th,
.circuitTable td {
  padding: 10px;
  text-align: center;
  color: white;
  height: 1.2cm;
  width: 1.2cm;

}


.circuitTable th {
  width: 20%;
}

.gateSelection {
  width: 100%;
  padding: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .circuitDesign {
    width: 100%;
  }
}

.gateTable tr:not(:first-child) {
  background-color: wheat;
  border: 1px solid grey;
}