* {
    margin: 0;
    padding: 0;
}

.simulator {
    box-sizing: border-box;
}

/* This CSS use in Gate Catalog applied on the div and img part */
.logo-size {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-size img {
    width: 100%;
    height: auto;
}

/* ******************CSS FOR CIRCUIT - SIMULATOR AREA ********************** */

.circuitBox {
    width: 16.666%;
    height: 16.666%;

}

.table-container {
    border: 1px solid #ddd;
    overflow-y: auto;
}

/* Wire CSS */
/* .table2 {
    z-index: 1;
    opacity: 50%;
} */


.wire {
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 1px solid black;
    /* Changed to border-top to create a line */
    top: 50%;
    /* Positioned at the middle vertically */
    transform: translateY(-50%);
    /* Adjusted to center the wire */
    z-index: -1;
    /* Placed behind the image */
}