/* This CSS use in Gate Catalog applied on the div and img part */
.logo-size {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-size img {
    width: 100%;
    height: auto;
}

/* ******************CSS FOR CIRCUIT - SIMULATOR AREA ********************** */

.circuitBox {
    width: 16.666%;
    height: 16.666%;

}

.table-container {
    border: 1px solid #ddd;
    overflow-y: auto;
}