.about {
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.about {
    background-color: #fff;
    padding: 2rem;
    max-width: 91%;
    margin: 1rem auto;
    color: rgb(67, 66, 65);
}

.about h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    text-align: left;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 1rem auto;
}

.about ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}

.about li {
    font-size: 1.1rem;
}