.Controller {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
}

.CircuitDesign {
    position: relative;
}

.CircuitDesign table {
    border-collapse: collapse;
}

.CircuitDesign td,
.CircuitDesign th {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    width: -webkit-fill-available;
    font-weight: 500;
    font-size: 1rem;
    padding: 3px 0 3px 0;
    margin-bottom: 3vh;
}