.foot {
    background-color: rgb(39, 46, 60);
    color: white;
    padding: 15px;
    width: 100%;
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}


/* Responsive styling */
@media (max-width: 768px) {
    .footer {
        font-size: 14px;
    }
}