.center {
    text-align: center;
    justify-content: center;
}

.shadow-border {
    box-shadow: 0 4px 8px rgba(230, 228, 228, 0.1);

}


.flexbody {
    display: flex;
}

.fit {
    flex-grow: 1;
}

/* used in circuit design area */
.scroll-x {
    overflow-x: auto;
    /* Enables horizontal scrollbar when content overflows width */
    width: 300px;
    scrollbar-color: #333 #666;
    /* Customize track and thumb colors */

}

.scroll-y {
    width: 100%;
    /* Make table take full width of container */
    border-collapse: collapse;
    max-height: -webkit-fill-available;
    /* Ensure consistent borders */
    overflow-y: auto;
    /* Enable vertical scroll when content overflows */
    scrollbar-color: #333 #666;
    height: 39vh;

}

.mytable1 {
    display: inline;
}

.subResult {
    height: 100%;
}

.flex {
    display: flex;
}